.btn {
  cursor: pointer;
  border: 0px;
  background-color: transparent;
}

.btn--buy {
  display: inline-block;
  background-color: #f56a43;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
}
