.product {
  position: relative;
  min-width: 290px;
  max-width: 290px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: #0f0c2b;
  overflow: hidden;
}

.product__more {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  color: #0f0c2b;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 5px;
}

.product__favorite {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  color: #0f0c2b;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 5px;
}

.product__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
  background: #659999;
  transition: all 0.4s;
  cursor: pointer;
}

.product__img-wrapper--light-14 {
  box-shadow: 0px 5px 23px #f7a31c;
  background: linear-gradient(0deg, #faa467, #659999);
}
.product__img-wrapper--light-24 {
  box-shadow: 0px 10px 23px #f7a31c;
  background: linear-gradient(0deg, #fa9851, #659999);
}
.product__img-wrapper--light-34 {
  box-shadow: 0px 15px 23px #f7a31c;
  background: linear-gradient(0deg, #fc8c3c, #659999);
}
.product__img-wrapper--light-44 {
  box-shadow: 0px 20px 23px #f7a31c;
  background: linear-gradient(0deg, #fa7f27, #659999);
}
.product__img-wrapper--light-54 {
  box-shadow: 0px 25px 23px #f7a31c;
  background: linear-gradient(0deg, #f1741a, #659999);
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 370px);
  padding: 15px;
  color: #fff;
}

.product__title {
  color: #7e7e7e;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}

.product__title-marker {
  background-color: #f56a43;
  color: #fff;
}

.product__description {
  margin-bottom: 15px;
  color: #7e7e7e;
  font-size: 13px;
  line-height: 18px;
}

.product__btn {
  text-align: center;
}
