.order {
  display: grid;
  grid-template-columns: 110px 90px 460px 90px 100px 100px 70px auto;
  grid-gap: 30px;
  align-items: center;
  position: relative;
  background: white;
  padding: 10px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
}

.order:not(:last-child) {
  margin-bottom: 50px;
}

.order__img-wrapper {
  width: 75px;
  height: 75px;
}

.order__id,
.oredr__title,
.order__watts,
.order__count,
.order__price {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.order__color {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #f56a43;
  border-radius: 50%;
}
