* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #2f2f44;
}

a {
  text-decoration: none;
  color: #dbdbdb;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}
