.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.popup--active {
  visibility: visible;
  opacity: 1;
}

.popup__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__container {
  position: relative;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.popup.popup--active .popup__container {
  animation: popupAnimation 0.5s;
}

@keyframes popupAnimation {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}

.popup__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -45px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  border: 0px;
  background-color: transparent;
}

.popup__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -45px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 5px;
}

.order-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.order-title {
  margin-top: 20px;
  margin-bottom: 25px;
}

.order-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
}

.btn--buy {
  display: inline-block;
  background-color: #f56a43;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
